@media screen and (min-width: 1100px) {
  html {
    font-size: 62.5%;
  }
  html body {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #faf5e4;
  }
  html body header {
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8b400;
  }
  html body header div {
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
  }
  html body header div .input_title {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    font-size: 2rem;
    font-weight: 600;
    color: #000;
  }
  html body .input_box {
    width: 50vh;
    height: 65vh;
    background-color: #2c786c;
    border-radius: 0 0 10% 10%;
  }
  html body .input_box .input_title {
    width: 100%;
    height: 18%;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    border-bottom: dashed 3px #ca3;
    display: table;
  }
  html body .input_box .input_title p {
    display: table-cell;
    vertical-align: middle;
  }
  html body form {
    width: 80%;
    height: 90%;
    margin: 0 auto;
    padding-left: 10px;
  }
  html body form .budget {
    width: 100%;
    height: 18%;
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  html body form .budget .radio-inline__input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
  }
  html body form .budget .radio-inline__label {
    padding: 10px 20px;
    display: inline-block;
    background-color: #f0f0f0;
    -webkit-transition: all .2s;
    transition: all .2s;
    font-size: 2rem;
  }
  html body form .budget .radio-inline__input:checked + .radio-inline__label {
    background-color: #646464;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
  }
  html body form .money_text {
    width: 100%;
    height: 13%;
    line-height: 1em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  html body form .money_text input {
    width: 60%;
    height: 80%;
    padding-right: 10px;
    border-radius: 7px;
    background-color: #000;
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: right;
  }
  html body form .error {
    color: red;
    font-size: 1rem;
  }
  html body form .memo_textarea {
    width: 100%;
    height: 20%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  html body form .memo_textarea textarea {
    width: 100%;
    height: 100%;
    margin-top: 6px;
    font-size: 1.5rem;
    resize: none;
    vertical-align: top;
  }
  html body form .submit_box {
    width: 100%;
    height: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html body form .submit_box #submit {
    padding: 8px 28px;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    background-color: #ccc;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor: pointer;
  }
  html footer {
    width: 100vw;
    height: 10%;
    background-color: #f8b400;
    position: absolute;
    bottom: 0;
  }
  html footer a {
    color: #000;
    text-decoration: none;
  }
  html footer a div {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html footer a div p {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
  }
}
/*# sourceMappingURL=pc_input_styles.css.map */